.control-panel {
  .header {
    margin-bottom: 16px;
    line-height: 40px;
    text-align: center;
    background-color: #ccced780;
    box-shadow: 20px 0 0 0 #ccced780, -20px 0 0 0 #ccced780;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;

    &.flex-between {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .form-item__label {
        margin-bottom: 0;
      }
    }

    &__label {
      margin-bottom: 8px;
    }
  }
}
